{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}

{% block title %}
ADD
{% endblock %}

{% block user_link %}
{% if current_user.is_authenticated %}
<li class="dropdown">
<a class="dropdown-toggle active" data-toggle="dropdown" href="#">{{current_user.username}}
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class="text-center">
	<a href="{{ url_for('user.userPage', username=current_user.username) }}">PROGRESS</a></li>
<li class="text-center active"><a href="{{ url_for('add.main')}}">ADD CONTENT</a></li>
<li class="text-center"><a href="{{ url_for('main.show', page='signout')}}">SIGN OUT</a></li>
</ul>
</li>
{% else %}
<li><a href="{{ url_for('main.show', page='login') }}">LOGIN</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<section class="container-fluid content">
	
<section class="text-center tile">
	<a href="{{ url_for('add.article') }}">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">ARTICLE</h2>
	</article>
	</a>
</section>
<section class="text-center tile">
	<a href="{{ url_for('add.course') }}">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">COURSE</h2>
	</article>
	</a>
</section>
<section class="text-center tile">
	<a href="{{ url_for('add.curriculum') }}">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">CURRICULUM</h2>
	</article>
	</a>
</section>
</section>
{% endblock %}