{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}

{% block title %}
ADD COURSE
{% endblock %}

{% block user_link %}
<li class="dropdown">
<a class="dropdown-toggle active" data-toggle="dropdown" href="#">USER
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class="text-center"><a href="{{ url_for('user.userPage', username='David') }}">PROGRESS</a></li>
<li class="text-center active"><a href="{{ url_for('add.main')}}">ADD CONTENT</a></li>
<li class="text-center"><a href="#">SIGN OUT</a></li>
</ul>
</li>
{% endblock %}

{% block content %}
<div class="container">
<section class="add">
	<form action="" method="post">
	{{ form.hidden_tag() }}
	{{ render_field(form.title, class_="form-control", placeholder="Title", required=True) }}
	<div class="curriculum">
	<br /><br />
	{{ render_field(form.curriculum, class_="form-control", placeholder="Curriculum Title", required=True) }}
	</div>
	<br /><br />
	{{ render_field(form.description, class_="addTextarea form-control", placeholder="Description", required=True) }}
	<br />
	<button class="button right submit" type="submit">Add</button>
	</form>
</section>
</div>
{% endblock %}