{% extends 'base.html' %}

{% block title %}
ARTICLES
{% endblock %}

{% block articles_link %}
<li><a class="active" href="{{ url_for('articles.show')}}">ARTICLES</a></li>
{% endblock %}

{% block content %}
{% if articlesList %}

<section class="container-fluid content">
	{% for article in articlesList %}
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">{{ article.title }}</h2>
			<h4 class="desc">
				{{ article.description }}
			</h4>
			<p class="date">{{ article.course }} in {{ article.curriculum }}</p>
			<p class="date">Added by 
				<a href="{{ url_for('user.userPage', username=article.user.username)}}">
					{{ article.user.username }}
				</a>
			</p>
			<button class="button">View</button>
		</article>
	</section>
	{% endfor %}
</section>
{% endif %}
{% endblock %}
