{% extends 'base.html' %}

{% block title %}
ARTICLES
{% endblock %}

{% block articles_link %}
<li><a class="active" href="{{ url_for('articles.show')}}">ARTICLES</a></li>
{% endblock %}

{% block content %}
{% if articlesList %}

<section class="container-fluid content">
	{% for article in articlesList %}
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">{{ article.title }}</h2>
			<h4 class="desc">
				{{ article.description }}
			</h4>
			<p class="date underline">
				<a href="{{ url_for('courses.show', page=article.course.title)}}">{{ article.course.title }} course</a> in
				<a href="{{ url_for('curriculums.show', page=article.curriculum.title)}}">{{ article.curriculum.title }} curriculum
				</a>
			</p>
			<p class="underline">Added by 
				<a href="{{ url_for('user.userPage', username=article.user.username)}}">
					{{ article.user.username }}
				</a>
			</p>
			<a href="{{ url_for('articles.show', page=article.title)}}">
			<button class="button">View</button>
			</a>
		</article>
	</section>
	{% endfor %}
</section>
{% endif %}
{% endblock %}
