{% extends 'add.html' %}

{% block title %}
ASK QUESTIONS
{% endblock %}

{% block questions_link %}
<li class="dropdown">
<a class="dropdown-toggle active" data-toggle="dropdown" href="#">QUESTIONS
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class="text-center"><a href="{{ url_for('questions.show')}}">VIEW</a></li>
<li class="text-center active"><a href="{{ url_for('questions.ask')}}">ASK</a></li>
</ul>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
<section class="row">
	<section class="col-sm-12">
	<section class="add">
	<input class="form-control" type="text" placeholder="Title" required>
	<br /><br />
	<input class="form-control" type="text" placeholder="Article" required>
	<br /><br />
	<textarea class="form-control" placeholder="Message" style="height: 200px;" required></textarea>
	<br />
	<button class="button right">Add</button>
	</section>
	<br /><br />
	</section>
</section>
</div>
{% endblock %}