{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}

{% block title %}
ASK QUESTIONS
{% endblock %}

{% block questions_link %}
<li class="dropdown">
<a class="dropdown-toggle active" data-toggle="dropdown" href="#">QUESTIONS
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class="text-center"><a href="{{ url_for('questions.show')}}">VIEW</a></li>
<li class="text-center active"><a href="{{ url_for('questions.ask')}}">ASK</a></li>
</ul>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
<section class="row">
	<form action="" method="post">
	{{ form.hidden_tag() }}
	<section class="col-sm-12">
	<section class="add">
	{{ render_field(form.title, class_="form-control", placeholder="Title", required=True) }}
	<br /><br />
	{{ render_field(form.article, class_="form-control", placeholder="Article", required=True) }}
	<br /><br />
	{{ render_field(form.message, class_="addTextarea form-control", placeholder="Message", required=True) }}
	<br />
	<button class="button right" type="submit">Add</button>
	</section>
	<br /><br />
	</section>
	</form>
</section>
</div>
{% endblock %}