{% extends 'add.html' %}

{% block title %}
Ask
{% endblock %}

{% block content %}
<div class="container-fluid">
<section class="row">
	<section class="col-sm-4">
	<h3 class="text-center">Ask</h3>
		<br />
	<section class="add">
	<input class="form-control" type="text" placeholder="Title" required>
	<br /><br />
	<input class="form-control" type="text" placeholder="Article" required>
	<br /><br />
	<textarea class="form-control" placeholder="Message" style="height: 200px;" required></textarea>
	<br />
	<button class="button right">Add</button>
	</section>
	<br /><br />
	</section>
	<section class="col-sm-8 text-center">
		<h3>Messages</h3>
		<br />
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
	</section>
</section>
</div>
{% endblock %}