<!doctype html>
<html>
<head>
	<title>ProgressMap</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div class="container-fluid bg">
	<section class='container-fluid text-center landing'>
		<br /><br />
		<h1><a href="{{ url_for('main.show', page='index') }}">ProgressMap</a></h1>
	
		<article class="flashes text-center">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		</article>
		
		{% block desc %}
		<br />
		<p>An app for measuring your learning progress.</p>
		<p>Created by <a href="http://david.ekpofamily.com" target="_blank">Ekpo David</a></p>
		<br /><br />
		{% endblock %}
		{% block login%}
		<a class='btn' href="{{ url_for('main.show', page='login') }}">LOG IN</a>
		<br /><br />
		<br /><br />
		{% endblock %}
		{% block signup %}
		<a class="btn" href="{{ url_for('main.show', page='signup') }}">SIGN UP</a>
		<br /><br />
		<br /><br />
		{% endblock %}
		
	</section>
	</div>
	
	<script src=" {{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
	<script src=" {{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>