<!doctype html>
<html>
<head>
	<title>{% block title %}ProgressMap{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<!-- nav section -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('main.show', page='map') }}">
					ProgressMap
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right nav-items text-center">
  					<li><a href="{{ url_for('progress.user', username='David') }}">PROGRESS</a></li>
  					<li><a href="{{ url_for('articles.show')}}">ARTICLES</a></li>
  					<li><a href="{{ url_for('post.show', page='ask')}}">ASK</a></li>
					<li><a href="{{ url_for('post.show', page='add')}}">ADD</a></li>
  					<li><a href="#">SIGN OUT</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- nav end -->
	{% block currentProgress %}
	{% endblock %}
	
	{% block overallProgress %}
	{% endblock %}
	<!-- content start -->
	{% block content %}
	<section class="container-fluid content">
	<section class="text-center tile">
		<article class="halfSide title">
			<h2>Title</h2>
		</article>
		<article class="halfSide">
			<header>
				<p class="date">Curriculum, Date Added</p>
			</header>
			<h4 class="desc">
				This is the description...
			</h4>
			<button class="more">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="halfSide title">
			<h2>Title</h2>
		</article>
		<article class="halfSide">
			<header>
				<p class="date">Curriculum, Date Added</p>
			</header>
			<h4 class="desc">
				This is the description...
			</h4>
			<button class="more">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="halfSide title">
			<h2>Title</h2>
		</article>
		<article class="halfSide">
			<header>
				<p class="date">Curriculum, Date Added</p>
			</header>
			<h4 class="desc">
				This is the description...
			</h4>
			<button class="more">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="halfSide title">
			<h2>Title</h2>
		</article>
		<article class="halfSide">
			<header>
				<p class="date">Curriculum, Date Added</p>
			</header>
			<h4 class="desc">
				This is the description...
			</h4>
			<button class="more">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="halfSide title">
			<h2>Title</h2>
		</article>
		<article class="halfSide">
			<header>
				<p class="date">Curriculum, Date Added</p>
			</header>
			<h4 class="desc">
				This is the description...
			</h4>
			<button class="more">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="halfSide title">
			<h2>Title</h2>
		</article>
		<article class="halfSide">
			<header>
				<p class="date">Curriculum, Date Added</p>
			</header>
			<h4 class="desc">
				This is the description...
			</h4>
			<button class="more">View</button>
		</article>
	</section>
	</section>
	{% endblock %}
	<!-- content end -->
	
	<script src=" {{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
	<script src=" {{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src=" {{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>