{% extends 'base.html' %}

{% block title %}
COURSES
{% endblock %}

{% block courses_link %}
<li><a class="active" href="{{ url_for('courses.show')}}">COURSES</a></li>
{% endblock %}

{% block content %}
	<section class="container-fluid content">
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">Title</h2>
			<h4 class="desc">
				This is the description...
			</h4>
			<p class="date">Curriculum</p>
			<button class="button">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">Title</h2>
			<h4 class="desc">
				This is the description...
			</h4>
			<p class="date">Curriculum</p>
			<button class="button">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">Title</h2>
			<h4 class="desc">
				This is the description...
			</h4>
			<p class="date">Curriculum</p>
			<button class="button">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">Title</h2>
			<h4 class="desc">
				This is the description...
			</h4>
			<p class="date">Curriculum</p>
			<button class="button">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">Title</h2>
			<h4 class="desc">
				This is the description...
			</h4>
			<p class="date">Curriculum</p>
			<button class="button">View</button>
		</article>
	</section>
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">Title</h2>
			<h4 class="desc">
				This is the description...
			</h4>
			<p class="date">Curriculum</p>
			<button class="button">View</button>
		</article>
	</section>
	</section>
	{% endblock %}