{% extends "base.html" %}

{% block title %}
CURRICULUM
{% endblock %}

{% block curriculums_link %}
<li><a class="active" href="{{ url_for('curriculums.show')}}">CURRICULUMS</a></li>
{% endblock %}

{% block content %}
<section class="container-fluid content">
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">PYTHON</h2>
	</article>
</section>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">JAVASCRIPT</h2>
	</article>
</section>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">PHP</h2>
	</article>
</section>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">JAVA</h2>
	</article>
</section>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">HTML</h2>
	</article>
</section>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">CSS</h2>
	</article>
</section>
</section>
{% endblock %}