{% extends "base.html" %}

{% block content %}
<section class="container-fluid content">
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">PROGRESS</h2>
	</article>
</section>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">ARTICLES</h2>
	</article>
</section>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">ASK</h2>
	</article>
</section>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">ADD</h2>
	</article>
</section>
</section>
{% endblock %}