{% extends 'base.html' %}

{% block title %}
QUESTIONS
{% endblock %}

{% block questions_link %}
<li class="dropdown">
<a class="dropdown-toggle active" data-toggle="dropdown" href="#">QUESTIONS
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class="text-center active"><a href="{{ url_for('questions.show')}}">VIEW</a></li>
<li class="text-center"><a href="{{ url_for('questions.ask')}}">ASK</a></li>
</ul>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
<section class="row">
	<section class="col-sm-12 text-center">
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
	</section>
</section>
</div>
{% endblock %}
