{% extends 'add.html' %}

{% block title %}
QUESTIONS
{% endblock %}

{% block content %}
<div class="container-fluid">
<section class="row">
	<section class="col-sm-12 text-center">
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
		<article class="message">
			<header>
				<h4>Message Title</h4>
			</header>
			<h5>The article title.</h5>
			<p>This is the body of the message.</p>
			<p style="float: left;">Date</p>
			<br /><br />
		</article>
	</section>
</section>
</div>
{% endblock %}