{% extends "base.html" %}

{% block title %}
{{ question.title.upper() }} - QUESTION
{% endblock %}

{% block questions_link %}
<li class="dropdown">
<a class="dropdown-toggle active" data-toggle="dropdown" href="#">QUESTIONS
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class="text-center"><a href="{{ url_for('questions.show')}}">VIEW</a></li>
<li class="text-center"><a href="{{ url_for('questions.ask')}}">ASK</a></li>
</ul>
</li>
{% endblock %}

{% block content %}
<section class="container-fluid content text-center underline">
<article class="b-down">
<h1>{{ question.title.capitalize() }}</h1>
<br />
<p>
	<a href="{{ url_for('articles.show', page = question.article.title) }}">
		{{ question.article.title.capitalize() }}
	</a>
</p>
</article>
<br /><br />
<h4 >{{ question.message }}</h4>
<br /><br />
</section>
{% if comments %}
{% for comment in comments%}
<p>{{ comment.message}}</p>
{% else %}
<p>No replies yet.</p>
{% endfor %}
{% endif %}
{% endblock %}
