{% extends "base.html" %}

{% block title %}
{{ curriculum.title.upper() }} - CURRICULUM
{% endblock %}

{% block curriculums_link %}
<li><a class="active" href="{{ url_for('curriculums.show')}}">CURRICULUMS</a></li>
{% endblock %}

{% block content %}
<section class="container-fluid content">
<section class="text-center">
<h1 class="b-down">{{ curriculum.title.capitalize() }}</h1>
<h4>{{ curriculum.description }}</h4>
</section>
<br /><br />

<section class="container-fluid content">
<h3 class="b-down text-center">ARTICLES</h3>
	{% for article in curriculum.articles%}
	<section class="text-center tile">
		<article class="title {{curriculum.title}}">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">{{article.title.capitalize()}}</h2>
			<h4 class="desc">
				{{article.description}}
			</h4>
			<p class="date underline">
				<a href="{{ url_for('courses.show', page=article.course.title)}}">{{ article.course.title.upper() }}</a> -
				<a href="{{ url_for('curriculums.show', page=article.curriculum.title)}}">{{ article.curriculum.title.upper() }}</a>
			</p>
			<a class="linkButton" href="{{ url_for('articles.show', page=article.title)}}">
			<button class="button">View</button>
			</a>
			<a class="linkButton" href="{{ url_for('user.addArticleContent', username=current_user, articleName=article.title, id=article.id, endPoint='curriculums', path=article.curriculum.title)}}">
				<button class="button">Add</button>
			</a>
		</article>
	</section>
	{% else %}
	<h4 class="text-center">No article has been added yet.</h4>
	{% endfor %}
</section>

<br />
<section class="container-fluid content">
<h3 class="b-down text-center">COURSES</h3>
	{% for course in curriculum.courses %}
	<section class="text-center tile">
		<article class="title {{curriculum.title}}">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">{{course.title.capitalize()}}</h2>
			<h4 class="desc">
				{{course.description}}
			</h4>
			<p class="date underline">
				In <a href="{{ url_for('curriculums.show', page=course.curriculum.title)}}">{{ course.curriculum.title.upper() }}</a>
			</p>
			<a class="linkButton" href="{{ url_for('courses.show', page=course.title)}}">
			<button class="button">View</button>
			</a>
			<a class="linkButton" href="#">
				<button class="button">Add</button>
			</a>
		</article>
	</section>
	{% else %}
	<h4 class="text-center">No course has been added yet.</h4>
	{% endfor %}
</section>
</section>
{% endblock %}
