{% extends "base.html" %}

{% block title %}
PYTHON - CURRICULUM
{% endblock %}

{% block curriculums_link %}
<li><a class="active" href="{{ url_for('curriculums.show')}}">CURRICULUMS</a></li>
{% endblock %}

{% block content %}
<section class="container-fluid content">
<h4>Title: {{ curriculum.title }}</h4>
<h4>Type: Curriculum</h4>
<h4>Description: {{ curriculum.description }}</h4>
<br /><br />
<h2>Courses</h2>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">OOP</h2>
	</article>
</section>
	
<br /><br />
<h2>Articles</h2>
<section class="text-center tile">
	<article class="title">
		<br /><br /><br /><br /><br />
		<h2 style="margin-top: 0px;">Primitive Data Types</h2>
	</article>
</section>
</section>
{% endblock %}
