{% extends "base.html" %}

{% block title %}
{{ course.title.upper() }} - COURSE
{% endblock %}

{% block courses_link %}
<li><a class="active" href="{{ url_for('courses.show')}}">COURSES</a></li>
{% endblock %}

{% block content %}
<section class="container-fluid content">
<h4>Title: {{ course.title.capitalize() }}</h4>
<h4>Description: {{ course.description }}</h4>
<br /><br />

<section class="container-fluid content">
<h3 class="b-down text-center">ARTICLES</h3>
	{% for article in course.articles %}
	<section class="text-center tile">
		<article class="title">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">{{article.title.capitalize()}}</h2>
			<h4 class="desc">
				{{article.description}}
			</h4>
			<p class="date underline">
				<a href="{{ url_for('courses.show', page=article.course.title)}}">{{ article.course.title.upper() }}</a> -
				<a href="{{ url_for('curriculums.show', page=article.curriculum.title)}}">{{ article.curriculum.title.upper() }}</a>
			</p>
			<a href="{{ url_for('articles.show', page=article.title)}}">
			<button class="button">View</button>
			</a>
		</article>
	</section>
	{% else %}
	<h4 class="text-center">No article has been added yet.</h4>
	{% endfor %}
</section>

{% endblock %}
