{% extends 'base.html' %}

{% block title %}{{username}}{% endblock %}

{% block user_link %}
{% if current_user.is_authenticated %}
<li class="dropdown">
<a class="dropdown-toggle active" data-toggle="dropdown" href="#">{{current_user.username}}
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li class="text-center active"><a href="{{ url_for('user.userPage', username=current_user.username) }}">PROGRESS</a></li>
<li class="text-center"><a href="{{ url_for('add.main')}}">ADD</a></li>
<li class="text-center"><a href="#">SIGN OUT</a></li>
</ul>
</li>
{% else %}
<li><a href="{{ url_for('main.show', page='login') }}">LOGIN</a>
</li>
{% endif %}
{% endblock %}

{% block currentProgress %}
<section class="container-fluid text-center">
<h3 class="b-down">Current Progress</h2>
<br />
<section class="row">
<article class="col-sm-3">
<div class="progress" style="margin-top: 29px;">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
    50% Complete
  </div>
</div>
<h4>PROGRESS</h4>
	<br />
</article>
<article class="col-sm-3">
<h1>15</h1>
<h4>COMPLETED</h4>
	<br />
</article>
<article class="col-sm-3">
<h1>15</h1>
<h4>REMAINING</h4>
	<br />
</article>
<article class="col-sm-3">
<h1>30</h1>
<h4>OVERALL</h4>
	<br />
</article>
</section>
</section>
<br /><br />
{% endblock %}
	
{% block overallProgress %}
<section class="container-fluid text-center">
<h3 class="b-down">Progress Checklist</h3>
	<br />
<section class="row">
	<article class="col-xs-2">
		<h4>Completed</h4>
	</article>
	<article class="col-xs-10">
		<h4>Details</h4>
	</article>
</section>
	<br />
<section class="row">
	<article class="col-xs-2">
		<div class="input-group" style="margin: auto;">
        <input type="checkbox" style="margin-top: 7px;">
    </div>
	</article>
	<article class="col-xs-10">
		<p>Read html5</p>
	</article>
</section>
</section>
<br /><br />
{% endblock %}

{% block content %}
<h3 class="b-down text-center">Added Content</h3>
<section class="container-fluid content">
	{% for content in user.articles%}
	<section class="text-center tile">
		<article class="{{content.title}}">
			<br /><br /><br />
			<h2 style="margin-top: 0px;">{{content.title}}</h2>
			<h4 class="desc">
				{{content.description}}
			</h4>
			<p class="date">{{content.course}} in {{content.curriculum}}</p>
			<button class="button">View</button>
		</article>
	</section>
	{% else %}
	<h4 class="text-center">No content has been added yet.</h4>
	{% endfor %}
</section>
{% endblock %}