/* Tags */
a{
	text-decoration: none;
	color: #99CCFF;
}
a:hover {
	text-decoration: none;
	color: #99CCFF;
}
a:visited {
	text-decoration: none;
	color: #99CCFF;
}

/* Classes */
.flashes ul {
    margin: 0 0;
	background: #d4d4d4;
    color: #000;
    list-style-type: none;
    list-style: none;
}
article.flashes {
    margin-bottom: 1em;
}
textarea.addTextarea{
height: 300px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: gray;
}
.navbar-default .navbar-nav>li>a.active {
    color: black;
}
.error ul{
	padding-left: 0;
	
	list-style: none;
	color: #f77c7c;
}
.error li{
	padding-top: 10px;
	display: inline-block;
	text-align: center;
}
.bg {
	background: url( '/static/img/bg.png') no-repeat;
	background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
	overflow-y: hidden;
}
.navbar-default{
	background-color: white;
}
.navbar-default .navbar-brand{
	color: black;
}
.navbar-default .navbar-nav>li>a:hover{
	color: black;
}
.navbar-default .navbar-nav>li>a:active{
	color: black;
}
@media screen and (max-width: 425px){
.add{
	margin: auto;
	width: 80%;
}
}
@media screen 
	and (min-width: 425px)
	and (max-width: 425px){
.add{
	margin: auto;
	width: 65%;
}
}
@media screen and (min-width: 768px){
.add{
	margin: auto;
	width: 60%;
}
}
.add input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, .form-control:focus{
  border-color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(139, 139, 139, 0.6);
  outline: 0 none;
}
.right{
	float: right;
}
.button{
	padding: 10px 20px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: white;
}
.button:hover{
	transition: 0.4s;
	color: white;
	background-color: gray;
}
.content{
	background-color: white;
}
@media screen and (max-width: 768px){
.tile {
	width: 100%;
	height: 250px;
	float: left;
	border: 1px solid #DDDDDC;
}
	}
@media screen and (min-width: 768px){
.tile {
	width: 33.3%;
	height: 250px;
	float: left;
	border: 1px solid #DDDDDC;
}
	}
.title{
	height: 100%;
	padding: 0;
	background: url(/static/img/python.svg) no-repeat;
	background-position: center;
}
.b-down{
	border-bottom: 1px solid #e2e2e2;
}
.halfSide{
	width: 50%;
	float: left;
}
.landing {
	color: white;
	border: solid 3px #99CCFF;
	border-radius: 10px;
	margin-top: 5%;
  width: 300px;
  height: 500px;
}
.landing h1 {
	color: #99CCFF;
}
.landing .btn {
	color: white;
	padding: 15px 100px;
	background-color: transparent;
	border: solid 2px #99CCFF;
	border-radius: 5px
}
.landing .btn:hover {
	color: black;
	background-color: #99CCFF;
	transition: 0.4s;
}


/* Ids */